@tailwind base;

/* base colors */
@layer base {
  :root {
    --xunion-color-theme: #6e5de6;
    --xunion-color-theme-non-opaque: #e2dffa;
    --xunion-color-theme-light: #6e5de6;

    --xunion-color-info: #007aff;
    --xunion-color-info-non-opaque: rgba(0, 122, 255, 0.12);
    --xunion-color-warning: rgba(254, 192, 29);
    --xunion-color-warning-non-opaque: rgba(254, 192, 29, 0.2);
    --xunion-color-error: #e0382d;
    --xunion-color-error-non-opaque: rgba(224, 56, 45, 0.08);
    --xunion-color-success: #33b84e;

    --xunion-bg-primary: #f5f7fd;
    --xunion-bg-secondary: #1a1a1a;
    --xunion-bg-e-primary: #f1f2f6;
    --xunion-bg-e-secondary: #7e7e7e;

    --xunion-fill-primary: #f5f7fd;
    --xunion-fill-e-primary: #e5e7ed;
    --xunion-fill-secondary: #f1f2f6;
    --xunion-fill-e-secondary: #f9f9f9;
    --xunion-fill-niubi: #fff;
    --xunion-fill-niubi2: rgba(245, 247, 253, 1);

    --xunion-separator-opaque: #f3f3f5;
    --xunion-separator-non-opaque: rgba(126, 126, 143, 0.12);
    --xunion-tabindex: #4d4d66;

    --xunion-overlay: rgba(0, 0, 0, 0.4);
    --xunion-toast: rgba(62, 62, 82, 0.92);

    --xunion-tc-primary: #17191f;
    --xunion-tc-secondary: #7e7e7e;
    --xunion-tc-tertiary: #a3abc2;
    --xunion-tc-theme: #eb54e6;
    --xunion-tc-on-button: #ffffff;
    --xunion-line-primary: #e5e7ed;
    --xunion-line-primary2: #ffffff;
  }

  [data-theme='dark'] {
    --xunion-color-theme: #6e5de6;
    --xunion-color-theme-non-opaque: rgba(110, 93, 230, 0.2);
    --xunion-color-theme-light: #ff5bfa;

    --xunion-color-info: #0a84ff;
    --xunion-color-info-non-opaque: rgba(10, 132, 255, 0.12);
    --xunion-color-warning: rgba(254, 192, 29);
    --xunion-color-warning-non-opaque: rgba(254, 192, 29, 0.2);
    --xunion-color-error: #f54f45;
    --xunion-color-error-non-opaque: rgba(245, 79, 69, 0.08);
    --xunion-color-success: #39cc56;

    --xunion-bg-primary: #131313;
    --xunion-bg-secondary: #ffffff;
    --xunion-bg-e-primary: #2c2c2c;
    --xunion-bg-e-secondary: #7e7e7e;

    --xunion-fill-primary: #7e7e7e;
    --xunion-fill-e-primary: #2c2c2c;
    --xunion-fill-secondary: #2c2c2c;
    --xunion-fill-e-secondary: #131313;
    --xunion-fill-niubi: #1a1a1a;
    --xunion-fill-niubi2: rgba(10, 10, 10, 1);

    --xunion-separator-opaque: #2a2a3d;
    --xunion-separator-non-opaque: rgba(126, 126, 143, 0.24);
    --xunion-tabindex: #4d4d66;

    --xunion-overlay: rgba(0, 0, 0, 0.6);
    --xunion-toast: rgba(62, 62, 82, 0.92);

    --xunion-tc-primary: #ffffff;
    --xunion-tc-secondary: #898da3;
    --xunion-tc-tertiary: #676a7a;
    --xunion-tc-theme: #eb54e6;
    --xunion-tc-on-button: #ffffff;
    --xunion-line-primary: #1a1a1a;
    --xunion-line-primary2: #1a1a1a;
  }
}

/* base sizes */
@layer base {
  :root {
    --xunion-sapcing-sm: 0.25rem;
    --xunion-sapcing-md: 0.5rem;
    --xunion-sapcing-lg: 0.75rem;
    --xunion-sapcing-xl: 1rem;
    --xunion-sapcing-2xl: 1.5rem;

    --xunion-radius-sm: 0.25rem;
    --xunion-radius-md: 0.5rem;
    --xunion-radius-lg: 0.75rem;
    --xunion-radius-xl: 1rem;
    --xunion-radius-2xl: 1.5rem;
    --xunion-radius-full: 50%;

    --xunion-shadow-sm: 0px 2px 0px 0px rgba(55, 59, 82, 0.04);
    --xunion-shadow-md: 0 0 2px 0 rgba(55, 59, 82, 0.04),
      0 2px 16px 0 rgba(55, 59, 82, 0.08);
    --xunion-shadow-lg: 0 0 2px 0 rgba(55, 59, 82, 0.04),
      0 4px 24px 0 rgba(55, 59, 82, 0.12);
    --xunion-shadow-xl: 0 1 2px 0 rgba(55, 59, 82, 0.8),
      0 8px 24px 0 rgba(55, 59, 82, 0.16);
    --xunion-shadow-xxl: 0px 8px 32px 0px rgba(55, 59, 82, 0.24),
      0px 1px 2px 0px rgba(55, 59, 82, 0.08);
  }
}

/* draggable */

@layer base {
  :root {
    --font-weight: 400;
    --background-color: #fff;
    --border-color: #efefef;
    --text-color: #333;
    --handle-color: rgba(0, 0, 0, 0.25);
    --box-shadow-border: 0 0 0 calc(1px / var(--scale-x, 1))
      rgba(63, 63, 68, 0.05);
    --box-shadow-common: 0 1px calc(3px / var(--scale-x, 1)) 0
      rgba(34, 33, 81, 0.15);
    --box-shadow: var(--box-shadow-border), var(--box-shadow-common);
    --focused-outline-color: #4c9ffe;
  }
}
