@import url('./styles/base.css');
@import url('./styles/components.css');
@import url('@rainbow-me/rainbowkit/styles.css');
@tailwind utilities;

body {
  font-family: 'Lexend', 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Arial',
  'SF Pro SC', 'PingFang SC', 'Microsoft YaHei', '微软雅黑', sans-serif;
  font-size: 16px;
  background: var(--xunion-bg-primary);
  color: var(--xunion-tc-primary);
}
