@import url('./styles/base.css');
@import url('./styles/components.css');
@import url('@rainbow-me/rainbowkit/styles.css');
@tailwind utilities;

* {
  font-family: 'Outfit Variable', 'Lexend', 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Arial',
    'SF Pro SC', 'PingFang SC', 'Microsoft YaHei', '微软雅黑', sans-serif !important;
}

body {

  font-size: 14px;
  background: var(--xunion-bg-primary);
  color: var(--xunion-tc-primary);
}

.ant-table-wrapper .ant-table-thead>tr>th, .ant-table-wrapper .ant-table-thead>tr>td {
  color: var(--xunion-tc-secondary);
}